name: CI

on:
  push:
    branches-ignore:
    - 'dependabot/**'
    paths:
    - '**'
    - '!docs/**'
    tags:
    - 'v*'
  pull_request:
    paths:
    - '**'
    - '!docs/**'

env:
  LC_ALL: en_US.UTF-8
  PUBLISH: ${{ (github.repository == 'kdex-tech/kdex-ui') && startsWith(github.ref, 'refs/tags/') && (github.event_name != 'pull_request') }}

defaults:
  run:
    shell: bash

permissions:
  contents: read
  packages: write

jobs:
  ci:
    name: Build, Test, Publish
    runs-on: ubuntu-latest
    steps:
    - name: Clone the code
      uses: actions/checkout@v6

    - name: Setup Node.js
      uses: actions/setup-node@v6
      with:
        node-version: 20
        cache: 'npm'

    - name: Install dependencies
      run: npm ci

    - name: Run Unit Tests
      run: npm test

    - name: Publish NPM Package
      if: ${{ env.PUBLISH == 'true' }}
      uses: ./.github/actions/publish-npm-package
